<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>KadaiThymeleaf</title>
</head>

<body>
    <h1 th:text="#{content.title}"></h1>
    <h2 th:text="#{content.input}"></h2>
    <p th:text="#{content.message}"></p>
    <p th:if="${param.previous != null}">前回入力された値は「<span th:text="${param.previous[0]}"></span>」でした。</p>
    <form method="post" action="/output">
        <input type="text" name="inputValue">
        <button type="submit"th:text="#{content.send}"</button>
    </form>
</body>

</html>